*{
    box-sizing: border-box;
}
html{
    font-size: 24px;
}
body{
    background: #afa3a3;
}

.hover-trigger .hover-target {
    display: none;
}

.hover-trigger:hover .hover-target {
    display: block;
}

@tailwind base;
@tailwind components;
@tailwind utilities;